<!DOCTYPE html>
<html>
<head>
<style>

h2.right {
    position: absolute;
    left: 723px;
    width: 300px;
    padding: 10px;
  }
h3.one {
  border-style: solid;
  border-width: 3px;
}
hr {
width: 215%;
height: 4px;
margin-left: auto;
margin-right: auto;
background-color:#666;
border: 0 none;
margin-top: 20px;
margin-bottom:20px;
}
p.zero {
  font-size: 100%;
  padding: 20px;
  margin: 20px;
}


</style>
</head>
<body>

<br>
<br>
<br>

<form action="/payment?event=<%=(@event.id).to_i%>" method="POST">

<div class="jumbotron">
<div class="container">
<h1> Purchase </h1>
<br>
<div class="card-columns">
<div class="container">
<img class="card-img-middle" src= "<%= @event.image_name%>" alt="Card image" height="400" width="400">
</div>

    <br>
    <center><h2 align="justify" class="right"><%= @event.event_name%> </h2></center>
    <br>
    <hr>
    <p align="center" class="zero"><%= @event.event_description%> </p>
    <center><h3 class="one" align="justify">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<%= @event.event_date%> </h3></center>
    <br>
    <center><h3 align="justify" style="padding: 0px; ">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;$<%= @event.event_price%> </h3></center>
    <br> 

    <div class="container">

      <input type="number" name ="tickets_purchasing" placeholder="Tickets Purchasing" class="form-control" style="width: 180px;height: 0px; padding: 20px; margin-left: 70px; " required>
      <br> 
      <button type="submit" name="" class="btn btn-primary" style="margin-left: 67px;">Purchase</button>

    </div>


</div>
</div> <!--Container-->
</div> <!--Jumbotron-->

</form>
