<br>
<br>
<br>
<div class="jumbotron">
<div class="container">
<h1> Purchase </h1>
<br>
<div class="card-columns">
<img class="card-img-middle" src= "<%= @event.image_name%>" alt="Card image" height="400" width="400">

  <div class="card-body">
    <h4 class="card-title"> <%= @event.event_name%> </h4>
    <p class="card-text"> <%= @event.event_description%> </p>
    <p class="card-text" > <%= @event.event_date%> </p>
    <p class="card-text"> $<%= @event.event_price%> </p>
  </div>      



</div> 
</div> <!--Container-->
</div> <!--Jumbotron-->
