 <form action="/charge" method="post" class="payment">
    <article>
      <label class="amount">
        <br><br><br>

        <% @cart.each do |item| %>
        <span><%= item.name%> - <%= item.tickets_purchasing%> = <%= item.cost%> </span>
        <br>
        <%end %>

        <span>Amount: <%= @total%></span>

      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="Pay Now"
            data-amount= "<%= @display_total%>" 
            data-locale="auto"></script>
  </form>